/*FONTS*/

/*Montserrat Regular*/
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}


/* Montserrat Bold */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

/* Montserrat SemiBold */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}
/*STYLE*/

/*ROUND BUTTONS CLASS*/
.round-btn {
    -fx-background-color: #E84910;
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Montserrat';

}

/*ROUND BUTTONS WITH WHITE BACKGROUND CLASS*/
.round-btn-v2 {
    -fx-background-color: #white;
    -fx-text-fill: black;
    -fx-border-color: #E84910;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 7px 0 7px 0;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Montserrat';
}

/*SQUARE BUTTONS CLASS*/
.square-btn {
    -fx-background-color: #E84910;
    -fx-text-fill: white;
    -fx-background-radius: 0px;
    -fx-padding: 7px 0 7px 0;
    -fx-min-width: 75px;
    -fx-min-height: 30px;
    -fx-font-family: 'Montserrat';
}

/*Round and square buttons hover changes opacity*/
.round-btn:hover, .square-btn:hover {
    -fx-opacity: 0.8;
}

/*LOGIN AREA class - changes to radius, color, opacity */
.login-area {
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
}


/*WINDOWS TITLES CLASS*/
.window-title {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 36;
    -fx-font-weight: bold;
}
/*SMALLER WINDOWS*/
.NEwindow-background {
    -fx-background-color: #17263A;
}
.NEwindow-title {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 32;
    -fx-text-fill: white;
}


.NEwindow-text {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.NavMenu-text{
    -fx-font-family: 'Montserrat';
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-background-color: #17263A;
    -fx-text-fill: white;
}

.description-text {
    -fx-font-family: 'Montserrat';
    -fx-font-size: 12;
    -fx-text-fill: white;
}
